@media (max-width: 1024px) {
  body {
    overflow: auto;
  }
  .wrapper,
  .page {
    min-height: 768px;
  }
  h1,
  .h1 {
    font-size: 35px;
  }
  .wrapper .projects .list {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .wrapper .header .bg-video-wrapper {
    background: url(https://limg.imgsmail.ru/splash/v/i/logo.v5.png.4a60795b82bda3baee8b89cb7829b5a22335555c.png);
  }
  .wrapper .header .bg-video-wrapper .bg-video {
    display: none;
  }
}
@media (max-width: 800px) {
  .wrapper .header .content {
    margin-top: 50px;
  }
  .wrapper .header .link .img {
    height: 50px;
  }
  .wrapper .projects .list .item .project {
    width: 350px;
  }
}
@media (max-width: 500px) {
  h1,
  .h1 {
    font-size: 30px;
  }
  .wrapper,
  .page {
    min-height: 640px;
  }
  .wrapper .header .contact {
    margin-top: 50px;
  }
  .wrapper .header .projects-link {
    margin-top: 50px;
  }
  .wrapper .projects .list .item .project {
    width: 280px;
  }
  .wrapper .projects .menu .main-link {
    padding: 5px;
  }
  .wrapper .projects {
    padding-right: 53px;
  }
  .wrapper .header .contact .input {
    min-width: 0;
  }
  .wrapper .order-result {
    padding-top: 50px;
  }
}
