@media (max-width: 1023px) {
  h1, .h1 {
    font-size: 35px;
  }

  .wrapper .projects .list {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media (max-width: 800px) {
  .wrapper .header .content {
    margin-top: 50px;
  }

  .wrapper .header .link .img {
    height: 50px;
  }
}